.header {
	position: relative;
	background: url('../img/cover.png') top right / cover no-repeat;
	// .header__content

	&__content {
	}

	// .header__logo
	&__logo {
		margin-right: 13.2rem;
		font-family: Montserrat;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2rem; /* 133.333% */
		letter-spacing: 0.00625rem;
		color: $textColor;
	}

	// .header__menu
	&__menu {
		display: inline-flex;
		padding: 1.4375rem 0;
		margin-bottom: 8rem;
		align-items: center;
		a {
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 600;
			line-height: 1.5rem; /* 171.429% */
			letter-spacing: 0.0125rem;

			&:not(:last-child) {
				margin-right: 2.1rem;
			}
		}
	}

	// .header__consulting
	&__consulting {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 7.5rem;
	}
}

.consulting {
	// .consulting__titel
	&__titel {
		flex: 1 1 50%;
		margin-bottom: 8rem;
		h1 {
			font-size: 5.8rem;
			font-weight: 800;
			line-height: 8rem; /* 137.931% */
			letter-spacing: 0.02rem;
			color: $textColor;
		}
		p {
			margin: 3.5rem 0;
		}
	}

	// .consulting__buttons

	&__buttons {
		display: flex;
	}

	// .consulting__button

	&__button {
		padding: 1rem 3.6rem;
		text-align: center;
		/* btn-text */
		font-family: Montserrat;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2.8rem; /* 200% */
		letter-spacing: 0.2px;

		border-radius: 3.7rem;
		margin-bottom: 19.1rem;

		// .consulting__button_quote
		&_quote {
			color: $lightTextColor;
			margin-right: 10px;
			background: $primary-color;
		}

		// .consulting__button_learn

		&_learn {
			color: $secondary-color;
			border: 1px solid $secondary-color;
		}
	}
}

.main-content {
	background: #fff;
	// .main-content__cart
	&__cart {
		height: 100%;
		position: relative;
		@include flex-align-center-justify-center;
		margin-top: -12.1rem;
		gap: 3rem;
		background: #fafafa;
	}

	// .main-content__designing
	&__designing {
		padding-top: 8rem;
		padding-bottom: 8rem;
		border: 1px solid green;
		background: #fafafa;
	}

	// .main-content__advice
	&__advice {
		padding-top: 8rem;
		padding-bottom: 8rem;
		border: 1px solid red;
		background: #fafafa;
	}
}

.cart {
	// .cart__item
	&__item {
		background: #fff;
		display: flex;
		width: 328px;
		padding: 3.5rem 4rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
		&:nth-child(3) {
			background: $secondary-color;
			h3 {
				color: $lightTextColor;
			}
			p {
				color: $lightTextColor;
			}
		}
		h3 {
			color: $textColor;
			font-size: 2.4rem;
			font-style: normal;
			font-weight: 700;
			line-height: 3.2rem; /* 133.333% */
			letter-spacing: 0.1px;
		}
		p {
			line-height: 2rem; /* 142.857% */
			font-size: 1.4rem;
		}
	}
}

.designing {
	// .designing__title

	&__title {
		padding-bottom: 4.5rem;
		h2 {
			color: $textColor;
			text-align: center;
			/* h2 */
			font-size: 4rem;
			font-weight: 700;
			line-height: 5.7rem; /* 142.5% */
			letter-spacing: 0.2px;
		}

		p {
			text-align: center;
			/* paragraph */
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 2rem; /* 142.857% */
			letter-spacing: 0.2px;
		}
	}

	// .designing__body

	&__body {
		@include flex-justify-center;
		gap: 3rem;
	}

	// .designing__item

	&__item {
		display: flex;
		width: 230px;
		padding: 3rem 4rem;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		background: #fff;

		h2 {
			color: $textColor;

			/* h2 */
			font-size: 4rem;
			font-style: normal;
			font-weight: 700;
			line-height: 5.7rem; /* 142.5% */
			letter-spacing: 0.2px;
		}
		P {
			color: var(--second-text-color, #737373);
			text-align: center;

			/* h5 */
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: 2.4rem; /* 150% */
			letter-spacing: 0.1px;
			white-space: nowrap;
			text-align: center;
		}
	}
}

.advice {
	// .advice__title

	&__title {
		text-align: center;
		padding: 4.5rem 0;
		h2 {
			color: $textColor;

			/* h2 */
			font-size: 4rem;
			font-weight: 700;
			line-height: 5.7rem; /* 142.5% */
			letter-spacing: 0.2px;
		}
		p {
			/* paragraph */
			font-family: Montserrat;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 2rem; /* 142.857% */
			letter-spacing: 0.2px;
		}
	}

	// .advice__contant
	&__contant {
		@include flex-justify-center;
		gap: 3rem;
	}

	// .advice__item

	&__item {
		padding: 3rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.5rem;
		// flex-shrink: 0;

		background: #fff;
		h5 {
			color: $textColor;
			/* h5 */
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px; /* 150% */
			letter-spacing: 0.1px;
		}

		p {
			/* paragraph */
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 2rem; /* 142.857% */
			letter-spacing: 0.2px;
		}
	}

	// .advice__cart
	&__cart {
		@include flex-align-center-justify-space-between;
	}

	// .advice__image
	&__image {
		width: 230px;
		height: 138px;
		&:nth-child(1) {
			background:
				url('../img/pic_1.png'),
				lightgray 50% / cover no-repeat;
		}
		&:nth-child(2) {
			background:
				url('../img/pic_2.png'),
				lightgray 50% / cover no-repeat;
		}
		&:nth-child(3) {
			background:
				url('../img/pic_3.png'),
				lightgray 50% / cover no-repeat;
		}
		&:nth-child(4) {
			background:
				url('../img/pic_4.png'),
				lightgray 50% / cover no-repeat;
		}
	}
}
