.settings/
/.idea
.idea
/.vscode
.vscode
node_modules
Applications
Temp
Templates
desktop.ini
node_modules
Applications
#temp
*#temp
# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
#src/swiper-element-bundle.mjs
