:root {
	--pos: left center;
	--size: 0;
	--inset-top: 0;
	--inset-right: 100%;
	--inset-bottom: 100%;
	--inset-left: 0;
}
//* ------------------------------- [Vareables] --------------------------------
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1050px;
$headerHeight: 139px;
$footerHeight: 680px;
// -----------------------------------------------------------------------------
$font-family: 'Montserrat', sans-serif;
$bodyBgcolor: #ededed;
$bgColor: #fafafa;
$textColor: #252b42;
$secondTextColor: #737373;
$lightTextColor: #fff;
$textColorNotActive: #dadada;
$secondary-color: #0d5c63;
$primary-color: #ff7b47;
$FontSize: 1.4rem;
$font-path: '../fonts';
// -----------------------------------------------------------------------------
$blue: #1ab9ce;
$brown: #584e4a;
$orange: #f68038;
$whitey: #c2c2c2;
$darkcyan: #068292;
$hover: #31c1d4;
$BlackShadow: #000;
$gray: #999;
$borderGray: #e7e7e7;
// -----------------------------------------------------------------------------
$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
