$icomoon-font-family: 'icons' !default;
$icomoon-font-path: $font-path !default;

$icon-phon: '\e901';
$icon-phon-call: '\e90e';
$icon-login: '\e968';
$icon-check: '\e90d';
$icon-arrow_select: '\e907';
$icon-angle-double-left: '\e912';
$icon-angle-double-up: '\e910';
$icon-angle-double-down: '\e90f';
$icon-angle-double-right: '\e911';
$icon-grid: '\e909';
$icon-angles-left-solid: '\e913';
$icon-angles-up-solid: '\e914';
$icon-angles-down-solid: '\e915';
$icon-angles-right-solid: '\e916';
$icon-search: '\e900';
$icon-trash: '\e902';
$icon-calendar: '\e903';
$icon-compare: '\e904';
$icon-user: '\e905';
$icon-mail: '\e906';
$icon-cart-circle: '\e908';
$icon-cart: '\e90a';
$icon-cross: '\e90b';
$icon-list-bullet: '\e90c';
$icon-ruble: '\e917';
