// todo --------------------------- Mixins -------------------------------------
@import 'mixins';
// todo ------------------------- Variables ------------------------------------
@import 'variables';
@import 'variables-icon';
//todo  ------------------- Шрифт по умолчанию ---------------------------------
// &display=swap&subset=cyrillic-ext
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

// todo -------------------------- Fonts ---------------------------------------
@import 'fonts';
//todo  ------------------------ Icon Fonts ------------------------------------
// @import 'components/iconstyle';
// todo ------------------------ Reset code ------------------------------------
@import 'reset';
// todo ------------------------- Plugins --------------------------------------
@import 'plugins/loading.scss';
// @import 'plugins/ui';
// @import 'plugins/swiper';
// todo ------------------------- Wrapper --------------------------------------
// #region
.wrapper {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	position: relative;
	max-width: $maxWidth;
	min-height: 100vh;
	margin: 0 auto;
}

[class*='_container'] {
	/* border: groove; */

	box-sizing: content-box;
	max-width: $maxWidthContainer;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

// === Сетка ===
// [class^='grid-'] {
// 	display: grid;
// 	place-self: center;
// }

[class*='grid-'] {
	display: grid;
}

[class*='_stretch'] {
	position: relative;
	z-index: 0;
	min-height: calc(100vh - ($headerHeight + $footerHeight));
}
//todo ------------------------ Components -------------------------------------
@import 'components/bem-block';
@import 'components/burger-side';
// todo ----------------------- Page Blocks ------------------------------------

@import 'page-block/page-content';
@import 'page-block/footer';
